body {
        height:100vh ; 
        margin: 0;
        overflow: auto;
        flex-direction: column;
    display: flex;

}

.Header {
    background-color: rgb(49, 49, 68);
    color: white;
    padding-left:200px ;
    padding-right: 200px;
   

}
.links {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
padding: 0;

}
.logo {
    font-size: 20px;
    font-weight: bold;
   padding: 0;
}
.Title {
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;

}

img {
    width: 300px;
    height: auto;
    padding: 30px;
}
.text {
    padding-bottom: 20px;
}
button {
    cursor: pointer;
    padding: 7px 30px;
    border-radius: 8px;
    background: royalblue;
  border: 1px solid royalblue;
  color: white;
  }



.main {
    
    margin: 0;
    

}
h2 {
    text-align: center;
    padding: 20px;
    
}
.title2 {
     text-align: center;
    
    margin: 0 auto;
     
}


   

.infos {
    

 display: flex;
 justify-content: center;
 align-items: center;
 padding: 200px;
padding-top: 0;
padding-bottom: 100px;
 gap: 50px;
 margin-top: 20px;
}
.cards {
   
width: 150px;

}
.cards p {
    margin-top: 10px;
}

.quote {
    background-color: lightgrey;

align-items: center;
justify-content: center;
padding: 200px;
padding-top: 100px;
padding-bottom: 100px;

}
.quote p {
    font-style: italic;
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
    
}
h8 {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
 a{   text-decoration: none;
    color: white;
}
ul {
    list-style: none;
    display: flex;
gap: 30px;
}