body {
        height:100vh ; 
        margin: 0;
        overflow: auto;
        flex-direction: column;
    display: flex;

}

.Header {
    background-color: rgb(42, 42, 51);
    color: white;
    padding-left:200px ;
    padding-right: 200px;
   

}
.links {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
padding: 0;

}
.logo {
    font-size: 20px;
    font-weight: bold;
   padding: 0;
}
.Title {
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;

}

img {
    width: 300px;
    height: auto;
    padding: 30px;
}
.text {
    padding-bottom: 20px;
}
button {
    cursor: pointer;
    padding: 7px 30px;
    border-radius: 8px;
    background: royalblue;
  border: 1px solid royalblue;
  color: white;
  }



.main {
    
    margin: 0;
    

}
h2 {
    text-align: center;
    padding: 20px;
    
}
.title2 {
     text-align: center;
    
    margin: 0 auto;
     
}


   

.infos {
    

 display: flex;
 justify-content: center;
 align-items: center;
 padding: 100px;
padding-top: 0;
padding-bottom: 100px;
 gap: 100px;
 margin-top: 20px;
}
.cards div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.infos img {
    
    width: 200px;
    height: auto;
}

.cards {
   display: flex;
   flex-direction: column;
  
width: 250px;

}
.cards p {
    margin-top: 10px;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.quote {
    background-color: lightgrey;

align-items: center;
justify-content: center;
padding: 200px;
padding-top: 100px;
padding-bottom: 100px;

}
.quote p {
    font-style: italic;
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
    
}
h8 {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
.signup {
display: flex;
justify-content: center;
align-items: center;
padding: 200px;
padding-top: 100px;
padding-bottom: 100px;

}
.signup2 {
    background-color: royalblue;
    border-radius: 8px;
    color: white;
    padding: 20px;
    display: flex;
    width: 600px;
height: 100px;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
    gap: 50px;
}
.two {
display: flex;
flex-direction: column;
justify-content: center;

}
.two p {
    margin: 0;
}
h3 {
    margin: 0;
    margin-bottom: 8px;
}

.one button {
    border: 1px solid white;
}



 a{   text-decoration: none;
    color: white;
}
ul {
    list-style: none;
    display: flex;
gap: 30px;
}
.footer {
    background-color: rgb(42, 42, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
    padding-top: 50px;
    padding-bottom:50px ;
    color: white;
}